{% extends '../home/base.html' %}
{% block body %}
{% include './stud_nav.html' %}

<div class="row">
  <div class="col s6 offset-s3">
    <br><br>
  <div class="card center lime lighten-5 z-depth-5">
    <div class="card-inner">
      <h5 class="login">Enter your marks</h5>


<form method="post">
  {% csrf_token %}
  {% for field in marksheet_form %}
        <div class="input-field control">
            {{ field.errors }}
            {{ field.label_tag }}
            {{ field }}
        </div>
    {% endfor %}

  <input type="submit" class="btn" value="Submit">

</form>

</div>
</div>
</div>
</div>

{% endblock %}
