{% extends '../home/base.html' %}
{% block body %}

<div class="background-for">
<div class="ui container">
	<div class="ui card" style="margin:3em 0">

	<!-- Personal Deatils -->
		<div class="content">
			<a  data-tooltip="Edit this" data-inverted=""><i id="m" class="right floated pencil alternate icon"></i></a>

			<div class="ui modal student-profile-modal">
				<i class="close icon"></i>
				<div class="header">
					Personal Details 	<div class="error"></div>
				</div>

				<div class="scrolling content description">

					<form class="ui form student-form">
						{% csrf_token %}
						<div class="profile-form">
						</div>
						<button class="ui button student-profile-form">Submit</button>
					</form>
				</div>
			</div>

			<div class="header">
				{% if student.name %}
					{{student.name}}
				{% else %}
					<a>Edit name</a>
				{% endif %}
			</div>
			<div class="meta">
				<p>{{student.user.email}}</p>
				<p>{{student.user.gender}}</p>
				<p>{{student.user.dob}}</p>


				<p>{{student.college}}</p>
				<p>{{student.course}} ({{student.admission_year}}-{{student.passing_year}})</p>
				<p>{{student.primary_mobile}}</p>
				<p>{{student.address}}</p>
				<p>{{student.region}}</p>
				<p>{{student.category}}</p>
			</div>
		</div>
	<!-- Ends Personal Deatils -->
	<div class="ui divider"></div>

	<!-- School Education -->
		<div class="content">

			<div class="ui grid">
				<div class="four wide column header content-header">
					School Education
				</div>
				<div class="twelve wide column description">
					{% if school_education == None %}

					{% else %}
					{% for edu in school_education reversed %}
							{% if edu.school == None %}
							<a class="school-edu-modal-btn">
									<p> + Add {{edu.qualification}}</p>
									<input type="hidden" name="" value={{edu.id}}>
							</a>
								{% else %}
								<a class=" school-edu-modal-btn" data-tooltip="Edit this" data-inverted="">
									<i id="" class="right floated pencil alternate icon"></i>
									<input type="hidden" name="" value={{edu.id}}>
								</a>

									<p><b>{{edu.qualification}} - {{edu.school}}</b></p>
									<p><b>Year of completition</b> - {{edu.year}}</p>
									<p><b>Board</b> - {{edu.board}}</p>
									<p><b>Percentage/CGPA</b> - {{edu.marks}}</p>
									<br />
								{% endif %}
					{% endfor %}
					{% endif %}
					<!-- <div class="center school-edu-modal-btn">
						<i class="large plus icon"></i>
						<p>Add School Education </p>
					</div> -->

					<div class="ui modal school-edu-modal">
						<i class="close icon"></i>
						<div class="header">
							School Education <div class="error"></div>
						</div>
						<div class="scrolling content description">
							<form class="ui form school-edu-form-data">
								{% csrf_token %}
								<div class="school-edu-form"></div>
								<button class="ui button">Submit</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	<!-- Ends School Education -->
	<div class="ui divider"></div>

	<!-- College Education -->
		<div class="content">
			<div class="ui grid">

			<div class="four wide column header content-header">
				College Education
			</div>
			<div class="twelve wide column description">
				{% if college_education == None %}
				{% else %}
					{% for edu in college_education %}
						{% if edu.course != None %}
						{{edu.course}}
						{{edu.branch}}
						{% else %}
						{% endif %}
					{% endfor %}
				{% endif %}
				<div class="center college-edu-modal-btn">
					<i class="large plus icon"></i>
					<p>Add College</p>
				</div>

				<div class="ui modal college-edu-pre-modal">
					<i class="close icon"></i>
					<div class="header">Add College Education</div>
					<div class="content description center">
						<input class="ui large button college-edu-pre" type="button" name="Graduation" value="Graduation">
						<input class="ui large button college-edu-pre" type="button" name="Post-Graduation" value="Post-Graduation">
						<input class="ui large button college-edu-pre" type="button" name="PhD" value="PhD">
						<input class="ui large button college-edu-pre" type="button" name="Diploma" value="Diploma">
					</div>
				</div>

				<div class="ui modal college-edu-modal">
					<i class="close icon"></i>
					<div class="header">
						College Education <div class="error"></div>
					</div>
					<div class="scrolling content description">
						<form class="ui form college-edu-form-data">
							{% csrf_token %}
							<div class="college-edu-form"></div>
							<button class="ui button">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Ends College Education -->
	<div class="ui divider"></div>

	<!-- Work Experience -->
		<div class="content">
			<div class="ui grid">
			<div class="four wide column header content-header">
				Work Experience
			</div>
			<div class="twelve wide column description">
				{% if internship != None %}
				<div class="work-exp-header">Internship</div>
					{% for element in internship %}
					<a class="work-exp-edit-modal-btn" data-tooltip="Edit this" data-inverted="">
						<i id="" class="right floated pencil alternate icon"></i>
						<input type="hidden" name="" value={{element.id}}>
					</a>
						<p><b>Company name</b> : {{element.title}}</p>
						<p><b>Period</b> : {{element.start_date}} - {{element.end_date}}</p>
						<p><b>URL</b> : {{element.url}}</p>
						<p>{{element.description}}</p>
						<br/>
					{% endfor %}
					<div class="ui divider"></div>
				{% endif %}

				{% if project != None %}
				<div class="work-exp-header">Project</div>
					{% for element in project %}
					<a class="work-exp-edit-modal-btn" data-tooltip="Edit this" data-inverted="">
						<i id="" class="right floated pencil alternate icon"></i>
						<input type="hidden" name="" value={{element.id}}>
					</a>
						<p><b>Title</b> : {{element.title}}</p>
						<p><b>Period</b> : {{element.start_date}} - {{element.end_date}}</p>
						<p><b>URL</b> : {{element.url}}</p>
						<p>{{element.description}}</p>
						<br/>
					{% endfor %}
					<div class="ui divider"></div>
				{% endif %}

				{% if training != None %}
				<div class="work-exp-header">Training</div>
					{% for element in training %}
					<a class="work-exp-edit-modal-btn" data-tooltip="Edit this" data-inverted="">
						<i id="" class="right floated pencil alternate icon"></i>
						<input type="hidden" name="" value={{element.id}}>
					</a>
						<p><b>Title</b> : {{element.title}}</p>
						<p><b>Period</b> : {{element.start_date}} - {{element.end_date}}</p>
						<p><b>URL</b> : {{element.url}}</p>
						<p>{{element.description}}</p>
						<br/>
					{% endfor %}
					<div class="ui divider"></div>
				{% endif %}

				{% if achievement != None %}
				<div class="work-exp-header">Achievement</div>
					{% for element in achievement %}
					<a class="work-exp-edit-modal-btn" data-tooltip="Edit this" data-inverted="">
						<i id="" class="right floated pencil alternate icon"></i>
						<input type="hidden" name="" value={{element.id}}>
					</a>
						<p><b>Title</b> : {{element.title}}</p>
						<p><b>Period</b> : {{element.start_date}} - {{element.end_date}}</p>
						<p><b>URL</b> : {{element.url}}</p>
						<p>{{element.description}}</p>
						<br/>
					{% endfor %}
					<div class="ui divider"></div>
				{% endif %}

				{% if other != None %}
				<div class="work-exp-header">Other</div>
					{% for element in other %}
					<a class="work-exp-edit-modal-btn" data-tooltip="Edit this" data-inverted="">
						<i id="" class="right floated pencil alternate icon"></i>
						<input type="hidden" name="" value={{element.id}}>
					</a>
						<p><b>Title</b> : {{element.title}}</p>
						<p><b>Period</b> : {{element.start_date}} - {{element.end_date}}</p>
						<p><b>URL</b> : {{element.url}}</p>
						<p>{{element.description}}</p>
						<br/>
					{% endfor %}
					<div class="ui divider"></div>
				{% endif %}
				<div class="center work-exp-modal-btn">
					<i class="large plus icon"></i>
					<p>Add work experience</p>
				</div>

				<div class="ui modal work-exp-pre-modal">
					<i class="close icon"></i>
					<div class="header">
						Work Experience
					</div>
					<div class="content description center ">
						<input class="ui large button work-exp-pre" type="button" name="Internship" value="Internship">
						<input class="ui large button work-exp-pre" type="button" name="Project" value="Project">
						<input class="ui large button work-exp-pre" type="button" name="Training" value="Training"><br/><br/>
						<input class="ui large button work-exp-pre" type="button" name="Achievement" value="Achievement">
						<input class="ui large button work-exp-pre" type="button" name="Other" value="Other">
					</div>
				</div>
				<!-- EDIT FORM -->
				<div class="ui modal work-exp-edit-modal">
					<i class="close icon"></i>
					<div class="header">
						EDIT Work Experience <div class="error"></div>
					</div>
					<div class="scrolling content description">
						<form class="ui form work-exp-form-data">
							{% csrf_token %}
							<div class="work-exp-edit-form"></div>
							<button class="ui button">Submit</button>
						</form>
					</div>
				</div>
				<!-- EDIT FORM ENDS -->

				<!-- ADD FORM -->
				<div class="ui modal work-exp-modal">
					<i class="close icon"></i>
					<div class="header">
						Work Experience <div class="error"></div>
					</div>
					<div class="scrolling content description">
						<form class="ui form work-exp-form-data">
							{% csrf_token %}
							<div class="work-exp-form"></div>
							<button class="ui button">Submit</button>
						</form>
					</div>
				</div>
				<!-- ADD FORM ENDS -->

			</div>
		</div>
		</div>
	<!-- Ends Work Experience -->
</div>
</div>
</div>

<script type="text/javascript">
	$('#m').click(function(){
		$('.student-profile-modal').modal('show');
	});

	$('.school-edu-modal-btn').click(function(){
		$('.school-edu-modal').modal('show');
	});

	$('.college-edu-modal-btn').click(function(){
		$('.college-edu-pre-modal').modal('show');
	});

	$('.work-exp-modal-btn').click(function(){
		$('.work-exp-pre-modal').modal('show');
	});

	$('.work-exp-edit-modal-btn').click(function(){
		$('.work-exp-edit-modal').modal('show');
	});


	$('#m').click(function(){
		var url = '{% url "student:student_profile_dash_form" %}';
		$.ajax({
			type:"GET",
			url: url,
			success: function(data){
				$('.profile-form').html(data);
				// alert(data);
				console.log(data);

			}
		});
	});

	$('.student-form').submit(function(e){
		e.preventDefault();
		var url = '{% url "student:student_profile_dash_form" %}';
		var form = $(this);
		console.log($(this));
		$.ajax({
			type: "POST",
			url: url,
			data: form.serialize(),
			success: function(data){
				if(data === 'INVALID FORM'){
					$('.error').html(data)
				}
				else{
					location.reload();
				}
			}
		});
	});

	var school_edu_pk = 0;
	$('.school-edu-modal-btn').click(function(e){
		console.log(e.currentTarget.children[1].value);
		school_edu_pk = e.currentTarget.children[1].value;
		var url = '{% url "student:school-education" 000 %}'.replace(000,school_edu_pk);
		$.ajax({
			type: "GET",
			url: url,
			success: function(data){
				$('.school-edu-form').html(data);
			}
		});
	});

	$('.school-edu-form-data').submit(function(e){
		e.preventDefault();
		console.log(e);
		var url = '{% url "student:school-education" 000 %}'.replace(000, school_edu_pk);
		var form = $(this);
		$.ajax({
			type: 'POST',
			url: url,
			data: form.serialize(),
			success: function(data) {
				if(data === 'INVALID FORM'){
					$('.error').html(data);
				}
				else{
					location.reload();

				}
			}
		});
	});

	$('.college-edu-pre').click(function(e){
		var course = e.target.value;
		var url = '{% url "student:college-education" %}';
		$.ajax({
			type: "GET",
			url: url,
			success: function(data){
				$('.college-edu-form').html(data);
			}
		});
	});

	$('.college-edu-form-data').submit(function(e){
		e.preventDefault();
		var url = '{% url "student:college-education" %}';
		var form = $(this);
		$.ajax({
			type: 'POST',
			url: url,
			data: form.serialize(),
			success: function(data){
				console.log(data);
				if(data==='INVALID FORM'){
					$('.error').html(data);
					}
					else{
						// console.log(data);
						location.reload();
					}
			}
		})
	});

	$('.work-exp-form-data').submit(function(e){
		e.preventDefault();
		var url = '{% url "student:work-exp" %}';
		var form = $(this);
		$.ajax({
			type: 'POST',
			url: url,
			data: form.serialize(),
			success: function(data){
				console.log(data);
				if(data==='INVALID FORM'){
					$('.error').html(data);
					}
					else{
						// console.log(data);
						location.reload();
					}
			}
		})
	});

	$('.work-exp-pre').click(function(e){
		var category = e.target.value;
		var url = '{% url "student:work-exp" 000 %}'.replace(000, category);
		$.ajax({
			type: "GET",
			url: url,
			success: function(data){
				$('.work-exp-form').html(data);
			}
		});
		$('.work-exp-modal').modal('show');
	});

	$('.work-exp-edit-modal-btn').click(function(e){
		work_exp_pk = e.currentTarget.children[1].value;
		var url = '{% url "student:editttt" pk=000 %}'.replace(000, work_exp_pk);
		$.ajax({
			type: "GET",
			url: url,
			success: function(data){
				$('.work-exp-edit-form').html(data);
			}
		});
	});
</script>

{% endblock %}
