{% extends '../home/base.html' %}
{% block body %}


<div class="ui container">
	<!-- Personal Deatils -->
	<div class="ui card" style="margin-top:1em">
		<div class="content">
			<a><i id="m" class="right floated pencil alternate icon"></i></a>

			<div class="ui modal">
				<i class="close icon"></i>
				<div class="header">
					Personal Details 	<div class="error"></div>
				</div>

				<div class="scrolling content description">

					<form class="ui form student-form">
						{% csrf_token %}
						<div class="profile-form">
						</div>
						<button class="ui button student-profile-form">Submit</button>
					</form>
				</div>
			</div>

			<div class="header">
				{% if student.name %}
					{{student.name}}
				{% else %}
					<a>Edit name</a>
				{% endif %}
			</div>
			<div class="meta">
				<p>{{student.user.email}}</p>
				<p>{{student.user.gender}}</p>
				<p>{{student.user.dob}}</p>


				<p>{{student.college}}</p>
				<p>{{student.course}} ({{student.admission_year}}-{{student.passing_year}})</p>
				<p>{{student.primary_mobile}}</p>
				<p>{{student.address}}</p>
				<p>{{student.region}}</p>
				<p>{{student.category}}</p>
			</div>
		</div>
	</div>
	<!-- Ends Personal Deatils -->

	<!-- Work Experience -->
	<div class="ui card">
		<div class="content">
			<div class="header">
				School Education
			</div>
			<div class="content">
				{% if school_education == None %}
				{% else %}
				{% endif %}
				<div class="center school-edu-modal-btn">
					<i class="large plus icon"></i>
					<p>Add School Education</p>
				</div>

				<div class="ui modal school-edu-modal">
					<i class="close icon"></i>
					<div class="header">
						School Education
					</div>
					<div class="content description">
						<form class="ui form">
							{% csrf_token %}
							<div class="school-edu-form"></div>
							<button class="ui button">Submit</button>
						</form>
					</div>

				</div>

			</div>

		</div>

	</div>
	<!-- Ends Work Experience -->




</div>

<script type="text/javascript">
	$('#m').click(function(){
		$('.modal').modal('show');

	})

	$('.school-edu-modal-btn').click(function(){
		$('.school-edu-modal').modal('show');

	})

	$('#m').click(function(){
		var url = '{% url "student:student_profile_dash_form" %}';
		$.ajax({
			type:"GET",
			url: url,
			success: function(data){
				$('.profile-form').html(data);
				// alert(data);
				console.log(data);

			}
		});
	});

	$('.student-form').submit(function(e){
		e.preventDefault();
		var url = '{% url "student:student_profile_dash_form" %}';
		var form = $(this);
		console.log($(this));
		$.ajax({
			type: "POST",
			url: url,
			data: form.serialize(),
			success: function(data){
				if(data === 'INVALID FORM'){
					$('.error').html(data)
				}
				else{
					location.reload();

				}
			}
		});
	});

	$('.school-edu-modal-btn').click(function(){
		var url = '{% url "student:school-education" %}';
		$.ajax({
			type: "GET",
			url: url,
			success: function(data){
				$('.school-edu-form').html(data);
			}
		});
	});
</script>

{% endblock %}
