{% extends '../home/base.html' %}
{% block body %}

<div class="background-for">
<div class="ui container">
	<div class="ui card" style="margin:3em 0">

		<div class="content">
			<div class="ui grid">
				<div class="eleven wide column">
					<div class="content-header">
						{% if student.name %}
							{{student.name}}
						{% else %}
							<a class="personal-details">Edit name</a>
						{% endif %}
					</div>
					<br>
					<div class="description meta">
						<p><b>Email</b> : {{student.user.email}}</p>
						<p><b>Enrollment number</b> : {{student.user.enrollment_no}}</p>
						{% if student.primary_mobile %}
							<p><b>Primary contact</b> : {{student.primary_mobile}}</p>
						{% endif %}
					</div>
				</div>

				<div class="four wide column">
					<p><b style="color: #ff7350;">CGPA: </b>
						{% if marksheet %}
							{{ marksheet.cgpa }}<br>
							<a id="full-marksheet-button"><i class="calendar outline icon"></i> view full marksheet</a>
						{% else %}
							<span class="meta">Not Available</span>
						{% endif %}
					</p>
				</div>
				<!-- MARKSHEET MODAL --->
					<div class="ui small modal marksheet-modal">
						<i class="close icon"></i>
						<div class="content">
							<div class="ui grid">
								<div class="eleven wide column">
									<div class="content-header marksheet-heading">
										{% if student.name %}
											<b>{{student.name}}</b>
										{% endif %}
									</div>

									<div class="meta">
										<p>{{student.enrollment_no}}<br>
											 {{student.get_course_display}} ( {{student.admission_year}} - {{student.passing_year}} )</p>
									</div>
							</div>
							<div class="three wide column">
								<button class="ui button marksheet-edit-btn" value="{{marksheet.id}}">Edit marksheet</button>
							</div>
						</div>
					</div>

							<div class="ui divider"></div>
						<div class="content">
							<div class="ui grid">
								<div class="twelve wide column">
									<div class="ui grid">
										<div class="eight wide column">
											{% if marksheet.semester_1 %}
												<p><b class="marksheet-heading">Semester 1 :</b>{{ marksheet.semester_1 }}</p>
											{% endif %}

											{% if marksheet.semester_3 %}
												<p><b class="marksheet-heading">Semester 3 :</b>{{ marksheet.semester_3 }}</p>
											{% endif %}

											{% if marksheet.semester_5 %}
												<p><b class="marksheet-heading">Semester 5 :</b>{{ marksheet.semester_5 }}</p>
											{% endif %}

											{% if marksheet.semester_7 %}
												<p><b class="marksheet-heading">Semester 7 :</b>{{ marksheet.semester_7 }}</p>
											{% endif %}
										</div>
										<div class="eight wide column right aligned">
											{% if marksheet.semester_2 %}
												<p><b class="marksheet-heading">Semester 2 :</b>{{ marksheet.semester_2 }}</p>
											{% endif %}

											{% if marksheet.semester_4 %}
												<p><b class="marksheet-heading">Semester 4 :</b>{{ marksheet.semester_4 }}</p>
											{% endif %}

											{% if marksheet.semester_6 %}
												<p><b class="marksheet-heading">Semester 6 :</b>{{ marksheet.semester_6 }}</p>
											{% endif %}

											{% if marksheet.semester_8 %}
												<p><b class="marksheet-heading">Semester 8 :</b>{{ marksheet.semester_8 }}</p>
											{% endif %}
										</div>
									</div>

									<div class="ui grid">
										<div class="five wide column">
											<p><b class="marksheet-heading">Credits Skipped: </b>{{ marksheet.credits_skipped }}</p>
										</div>
										<div class="five wide column center aligned">
											<p><b class="marksheet-heading">Backlogs: </b>{{ marksheet.backlogs }}</p>
										</div>
										<div class="six wide column right aligned">
											<p><b class="marksheet-heading">CGPA: </b>{{ marksheet.cgpa }}</p>
										</div>
									</div>
								</div>
								<div class="four wide column"></div>
							</div>
							<div style="padding: 100px 0px;"></div>
						</div>
					</div>

					<div class="ui modal marksheet-edit-modal">
						<i class="close icon"></i>
						<div class="content header">Edit Marksheet</div>
						<div class="scrolling content description">
							<form class="ui form marksheet-edit-form-data">
								{% csrf_token %}
								<div class="marksheet-edit-form">
									<div class="ui active inverted dimmer">
										<div class="ui large text loader">Loading</div>
									</div>
								</div>
								<button class="ui button fluid">Submit</button>
							</form>
						</div>

					</div>

				<!--- MARKSHET MODAL ENDS --->


			</div>
		</div>
		<div class="ui divider"></div>

	<!-- Personal Deatils -->
		<div class="content">
			<a  data-tooltip="Edit this" data-inverted=""><i id="m" class="personal-details right floated pencil alternate icon"></i></a>

			<div class="ui modal student-profile-modal">
				<i class="close icon"></i>
				<div class="header">
					Personal Details 	<div class="error"></div>
				</div>

				<div class="scrolling content description">

					<form class="ui form student-form">
						{% csrf_token %}
						<div class="profile-form">
						</div>
						<button class="ui button student-profile-form sub-btn fluid">Submit</button>
					</form>
				</div>
			</div>

			<div class="content-header">
				Personal Details
			</div>
			<div class="meta" style="margin:1em 0">
				<div class="ui grid">
					<div class="six wide column">

						{% if student.region %}
							<p><b>Region</b> : {{student.region}}</p>
						{% endif %}
						{% if student.category %}
							<p><b>Category</b> : {{student.category}}</p>
						{% endif %}
						{% if student.gender %}
							<p><b>Gender</b> : {{student.gender}}</p>
						{% endif %}
					</div>
					<div class="eight wide column">
						{% if student.dob %}
							<p><b>Date of birth</b> : {{student.dob}}</p>
						{% endif %}
						{% if student.fathers_name %}
							<p><b>Father's name</b> : {{student.fathers_name }}</p>
						{% endif %}

						{% if student.secondary_mobile %}
							<p><b>Alternate contact</b> : {{student.secondary_mobile}}</p>
						{% endif %}
						{% if student.address %}
							<p><b>Address</b> : {{student.address}}</p>
						{% endif %}
					</div>
				</div>

			</div>
			<!-- {% if not student.name or not student.region or not student.category or not student.gender or not student.dob or not student.fathers_name or not student.primary_mobile or not student.secondary_mobile or not student.address %}
				<p class="personal-details edit-it">Edit personal details</p>
			{% endif %} -->
		</div>
	<!-- Ends Personal Deatils -->
	<div class="ui divider"></div>


	<!-- School Education -->
		<div class="content">

			<div class="ui grid">
				<div class="four wide column header content-header">
					School Education
				</div>
				<div class="twelve wide column description">
					{% if school_education == None %}

					{% else %}
					{% for edu in school_education reversed %}
							{% if edu.school == None %}
							<a class="school-edu-modal-btn">
									<p> + Add {{edu.qualification}}</p>
									<input type="hidden" name="" value={{edu.id}}>
							</a>
								{% else %}
								<div class="data">

								<a class=" school-edu-modal-btn" data-tooltip="Edit this" data-inverted="">
									<i id="" class="right floated pencil alternate icon"></i>
									<input type="hidden" name="" value={{edu.id}}>
								</a>

									<p><b>{{edu.qualification}} - {{edu.school}}</b></p>
									<p><b>Year of completition</b> - {{edu.year}}</p>
									<p><b>Board</b> - {{edu.board}}</p>
									<p><b>Percentage/CGPA</b> - {{edu.marks}}</p>
								</div>


								{% endif %}
					{% endfor %}
					{% endif %}
					<!-- <div class="center school-edu-modal-btn">
						<i class="large plus icon"></i>
						<p>Add School Education </p>
					</div> -->

					<div class="ui modal school-edu-modal">
						<i class="close icon"></i>
						<div class="header">
							School Education <div class="error"></div>
						</div>
						<div class="scrolling content description">
							<form class="ui form school-edu-form-data">
								{% csrf_token %}
								<div class="school-edu-form">
									<div class="ui active inverted dimmer">
    								<div class="ui large text loader">Loading</div>
  								</div>
								</div>
								<button class="ui button sub-btn fluid">Submit</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	<!-- Ends School Education -->
	<div class="ui divider"></div>

	<!-- College Education -->
		<div class="content">
			<div class="ui grid">

			<div class="four wide column header content-header">
				College Education
			</div>
			<div class="twelve wide column description">
				{% if current_college_education %}
				<div class="data">
					<p class="work-exp-header">Currently pursuing</p>
					<p><b>Course</b> : {{current_college_education.course}}  ({{current_college_education.start_date}} - {{current_college_education.end_date}})</p>
					<div class="meta">
						<p><b>College</b> : {{current_college_education.college}}</p>
						<p><b>Marks</b> : {{current_college_education.Marks}}</p>
					</div>
				</div>
				{% endif %}

				{% if college_education %}
					<p class="work-exp-header">Past educations</p>
					{% for edu in college_education %}
						{% if edu.course %}
							<div class="data">
								<a class="college-edu-delete-modal-btn" data-tooltip="Delete" data-inverted="">
									<i id="" class="right floated trash alternate icon large"></i>
								</a>
								<a class="college-edu-edit-modal-btn" data-tooltip="Edit this" data-inverted="">
									<i id="" class="right floated pencil alternate icon large"></i>
									<input type="hidden" name="" value={{edu.id}}>
								</a>
								<p><b>Course:</b> {{edu.course}}</p>
								<div class="meta">
									<p><b>Branch:</b> {{edu.branch}} ({{edu.start_date}} - {{edu.end_date}})</p>
									<p><b>College:</b> {{edu.college}}</p>
									<p><b>Marks:</b> {{edu.marks}}</p>
								</div>
							</div>
							<div class="ui basic modal college-edu-delete-modal">
								<div class="ui icon delete-header">
									<i class="trash icon"></i>
								</div>
								<div class="content">
									<!-- <p>Your inbox is getting full, would you like us to enable automatic archiving of old messages?</p> -->
								</div>
								<div class="actions">
									<div class="ui red basic cancel inverted button">
										<i class="remove icon"></i>
										No
									</div>
									<div class="ui green ok inverted button college-edu-delete-confirm">
										<i class="checkmark icon"></i>
										Yes
										<input type="hidden" name="" value={{edu.id}}>
									</div>
								</div>
							</div>

							<div class="ui modal college-edu-edit-modal">
								<i class="close icon"></i>
								<div class="header">
									Edit College Education <div class="error"></div>
								</div>
								<div class="scrolling content description">
									<form class="ui form college-edu-edit-form-data">
										{% csrf_token %}
										<input type="hidden" name="" value={{edu.id}}>

										<div class="college-edu-edit-form">
											<div class="ui active inverted dimmer">
												<div class="ui large text loader">Loading</div>
											</div>
										</div>
										<button class="ui button sub-btn fluid">Submit</button>
									</form>
								</div>
							</div>
						{% else %}
						{% endif %}
					{% endfor %}
				{% endif %}
				<div class="center add-button college-edu-modal-btn">
					<i class="large plus icon"></i>
					<p>Add College</p>
				</div>

				<div class="ui modal college-edu-pre-modal">
					<i class="close icon"></i>
					<div class="header">Add College Education</div>
					<div class="content description center">
						<input class="ui large button college-edu-pre" type="button" name="Graduation" value="Graduation">
						<input class="ui large button college-edu-pre" type="button" name="Post-Graduation" value="Post-Graduation">
						<input class="ui large button college-edu-pre" type="button" name="PhD" value="PhD">
						<input class="ui large button college-edu-pre" type="button" name="Diploma" value="Diploma">
					</div>
				</div>

				<div class="ui modal college-edu-modal">
					<i class="close icon"></i>
					<div class="header">
						College Education <div class="error"></div>
					</div>
					<div class="scrolling content description">
						<form class="ui form college-edu-form-data">
							{% csrf_token %}
							<div class="college-edu-form">
								<div class="ui active inverted dimmer">
									<div class="ui large text loader">Loading</div>
								</div>
							</div>
							<button class="ui button sub-btn fluid">Submit</button>
						</form>
					</div>
				</div>


			</div>
		</div>
	</div>
	<!-- Ends College Education -->
	<div class="ui divider"></div>

	<!-- Work Experience -->
		<div class="content">
			<div class="ui grid">
			<div class="four wide column header content-header">
				Work Experience
			</div>
			<div class="twelve wide column description">
				{% if internship %}
				<div class="work-exp-header">Internship</div>
					{% for element in internship %}
					<div class="data">
						<a class="work-exp-delete-modal-btn" data-tooltip="Delete" data-inverted="">
							<i id="" class="right floated trash alternate icon large"></i>
						</a>
						<a class="work-exp-edit-modal-btn" data-tooltip="Edit this" data-inverted="">
							<i id="" class="right floated pencil alternate icon large"></i>
							<input type="hidden" name="" value={{element.id}}>
						</a>
						<p><b>Company name</b> : {{element.title}}</p>
						<div class="meta">
							<p><b>Period</b> : {{element.start_date}} - {{element.end_date}}</p>
							<p><b>{% if element.url %} URL</b> :&nbsp; <a target="_blank" href="{{element.url}}">{{element.url}}</a>{% endif %} </p>
							<p>{{element.description}}</p>
						</div>
					</div>

					<div class="ui basic modal work-exp-delete-modal">
						<div class="ui icon delete-header">
							<i class="trash icon"></i>
						</div>
						<div class="content">
							<!-- <p>Your inbox is getting full, would you like us to enable automatic archiving of old messages?</p> -->
						</div>
						<div class="actions">
							<div class="ui red basic cancel inverted button">
								<i class="remove icon"></i>
								No
							</div>
							<div class="ui green ok inverted button work-exp-delete-confirm">
								<i class="checkmark icon"></i>
								Yes
								<input type="hidden" name="" value={{element.id}}>
							</div>
						</div>
					</div>
					{% endfor %}
				{% endif %}

				{% if project %}
				<div class="work-exp-header">Project</div>
					{% for element in project %}
					<div class="data">
						<a class="work-exp-delete-modal-btn" data-tooltip="Delete" data-inverted="">
							<i id="" class="right floated trash alternate icon large"></i>
						</a>
						<a class="work-exp-edit-modal-btn" data-tooltip="Edit this" data-inverted="">
							<i id="" class="right floated pencil alternate icon large"></i>
							<input type="hidden" name="" value={{element.id}}>
						</a>
						<p><b>Title</b> : {{element.title}}</p>
						<div class="meta">
							<p><b>Period</b> : {{element.start_date}} - {{element.end_date}}</p>
							<p><b>{% if element.url %} URL</b> :&nbsp; <a target="_blank" href="{{element.url}}">{{element.url}}</a>{% endif %} </p>
							<p>{{element.description}}</p>
						</div>
					</div>

					<div class="ui basic modal work-exp-delete-modal">
						<div class="ui icon delete-header">
							<i class="trash icon"></i>
						</div>
						<div class="content">
							<!-- <p>Your inbox is getting full, would you like us to enable automatic archiving of old messages?</p> -->
						</div>
						<div class="actions">
							<div class="ui red basic cancel inverted button">
								<i class="remove icon"></i>
								No
							</div>
							<div class="ui green ok inverted button work-exp-delete-confirm">
								<i class="checkmark icon"></i>
								Yes
								<input type="hidden" name="" value={{element.id}}>
							</div>
						</div>
					</div>
					{% endfor %}
				{% endif %}

				{% if training %}
				<div class="work-exp-header">Training</div>
					{% for element in training %}
					<div class="data">
						<a class="work-exp-delete-modal-btn" data-tooltip="Delete" data-inverted="">
							<i id="" class="right floated trash alternate icon large"></i>
						</a>
						<a class="work-exp-edit-modal-btn" data-tooltip="Edit this" data-inverted="">
							<i id="" class="right floated pencil alternate icon large"></i>
							<input type="hidden" name="" value={{element.id}}>
						</a>
						<p><b>Title</b> : {{element.title}}</p>
						<div class="meta">
							<p><b>Period</b> : {{element.start_date}} - {{element.end_date}}</p>
							<p><b>{% if element.url %} URL</b> :&nbsp; <a target="_blank" href="{{element.url}}">{{element.url}}</a>{% endif %} </p>
							<p>{{element.description}}</p>
						</div>
					</div>

					<div class="ui basic modal work-exp-delete-modal">
						<div class="ui icon delete-header">
							<i class="trash icon"></i>
						</div>
						<div class="content">
							<!-- <p>Your inbox is getting full, would you like us to enable automatic archiving of old messages?</p> -->
						</div>
						<div class="actions">
							<div class="ui red basic cancel inverted button">
								<i class="remove icon"></i>
								No
							</div>
							<div class="ui green ok inverted button work-exp-delete-confirm">
								<i class="checkmark icon"></i>
								Yes
								<input type="hidden" name="" value={{element.id}}>
							</div>
						</div>
					</div>
					{% endfor %}
				{% endif %}

				{% if achievement %}
				<div class="work-exp-header">Achievement</div>
					{% for element in achievement %}
					<div class="data">
						<a class="work-exp-delete-modal-btn" data-tooltip="Delete" data-inverted="">
							<i id="" class="right floated trash alternate icon large"></i>
						</a>
						<a class="work-exp-edit-modal-btn" data-tooltip="Edit this" data-inverted="">
							<i id="" class="right floated pencil alternate icon large"></i>
							<input type="hidden" name="" value={{element.id}}>
						</a>
						<p><b>Title</b> : {{element.title}}</p>
						<div class="meta">
							<p><b>Period</b> : {{element.start_date}} - {{element.end_date}}</p>
							<p><b>{% if element.url %} URL</b> :&nbsp; <a target="_blank" href="{{element.url}}">{{element.url}}</a>{% endif %} </p>
							<p>{{element.description}}</p>
						</div>
					</div>

					<div class="ui basic modal work-exp-delete-modal">
						<div class="ui icon delete-header">
							<i class="trash icon"></i>
						</div>
						<div class="content">
							<!-- <p>Your inbox is getting full, would you like us to enable automatic archiving of old messages?</p> -->
						</div>
						<div class="actions">
							<div class="ui red basic cancel inverted button">
								<i class="remove icon"></i>
								No
							</div>
							<div class="ui green ok inverted button work-exp-delete-confirm">
								<i class="checkmark icon"></i>
								Yes
								<input type="hidden" name="" value={{element.id}}>
							</div>
						</div>
					</div>
					{% endfor %}
				{% endif %}

				{% if other %}
				<div class="work-exp-header">Other</div>
					{% for element in other %}
					<div class="data">
						<a class="work-exp-delete-modal-btn" data-tooltip="Delete" data-inverted="">
							<i id="" class="right floated trash alternate icon large"></i>
						</a>
						<a class="work-exp-edit-modal-btn" data-tooltip="Edit this" data-inverted="">
							<i id="" class="right floated pencil alternate icon large"></i>
							<input type="hidden" name="" value={{element.id}}>
						</a>
						<p><b>Title</b> : {{element.title}}</p>
						<div class="meta">
							<p><b>Period</b> : {{element.start_date}} - {{element.end_date}}</p>
							<p><b>{% if element.url %} URL</b> :&nbsp;<a target="_blank" href="{{element.url}}">{{element.url}}</a><{% endif %} /p>
							<p>{{element.description}}</p>
						</div>
					</div>

					<div class="ui basic modal work-exp-delete-modal">
						<div class="ui icon delete-header">
							<i class="trash icon"></i>
						</div>
						<div class="content">
							<!-- <p>Your inbox is getting full, would you like us to enable automatic archiving of old messages?</p> -->
						</div>
						<div class="actions">
							<div class="ui red basic cancel inverted button">
								<i class="remove icon"></i>
								No
							</div>
							<div class="ui green ok inverted button work-exp-delete-confirm">
								<i class="checkmark icon"></i>
								Yes
								<input type="hidden" name="" value={{element.id}}>
							</div>
						</div>
					</div>
					{% endfor %}
				{% endif %}
				<div class="center add-button work-exp-modal-btn">
					<i class="large plus icon"></i>
					<p>Add work experience</p>
				</div>

				<div class="ui modal work-exp-pre-modal">
					<i class="close icon"></i>
					<div class="header">
						Work Experience
					</div>
					<div class="content description center">
						<input class="ui large button work-exp-pre" type="button" name="Internship" value="Internship">
						<input class="ui large button work-exp-pre" type="button" name="Project" value="Project">
						<input class="ui large button work-exp-pre" type="button" name="Training" value="Training"><br/><br/>
						<input class="ui large button work-exp-pre" type="button" name="Achievement" value="Achievement">
						<input class="ui large button work-exp-pre" type="button" name="Other" value="Other">
					</div>
				</div>
				<!-- EDIT FORM -->
				<div class="ui modal work-exp-edit-modal">
					<i class="close icon"></i>
					<div class="header">
						Edit Work Experience <div class="error"></div>
					</div>
					<div class="scrolling content description">
						<form class="ui form work-exp-edit-form-data">
							{% csrf_token %}
							<div class="work-exp-edit-form">
								<div class="ui active inverted dimmer">
									<div class="ui large text loader">Loading</div>
								</div>
							</div>
							<button class="ui button sub-btn fluid">Submit</button>
						</form>
					</div>
				</div>
				<!-- EDIT FORM ENDS -->

				<!-- ADD FORM -->
				<div class="ui modal work-exp-modal">
					<i class="close icon"></i>
					<div class="header">
						Work Experience <div class="error"></div>
					</div>
					<div class="scrolling content description">
						<form class="ui form work-exp-form-data">
							{% csrf_token %}
							<div class="work-exp-form">
								<div class="ui active inverted dimmer">
									<div class="ui large text loader">Loading</div>
								</div>
							</div>
							<button class="ui button sub-btn fluid">Submit</button>
						</form>
					</div>
				</div>
				<!-- ADD FORM ENDS -->

			</div>
		</div>
		</div>
	<!-- Ends Work Experience -->
</div>
</div>
</div>

<script type="text/javascript">
	$('.personal-details').click(function(){
	  $('.student-profile-modal').modal('show');
	});

	$('.school-edu-modal-btn').click(function(){
	  $('.school-edu-modal').modal('show');
	});

	$('.college-edu-modal-btn').click(function(){
	  $('.college-edu-pre-modal').modal('show');
	});
	$('.college-edu-delete-modal-btn').click(function(){
	  $('.college-edu-delete-modal').modal('show');
	})

	$('.work-exp-modal-btn').click(function(){
	  $('.work-exp-pre-modal').modal('show');
	});

	$('.work-exp-edit-modal-btn').click(function(){
	  $('.work-exp-edit-modal').modal('show');
	});
	$('.work-exp-delete-modal-btn').click(function(){
	  $('.work-exp-delete-modal').modal('show');
	});

	$('#full-marksheet-button').click(function(){
		$('.marksheet-modal').modal('show');
	});

	$('.personal-details').click(function(){
	  var url = '{% url "student:student_profile_dash_form" %}';
	  $.ajax({
	    type:"GET",
	    url: url,
	    success: function(data){
	      $('.profile-form').html(data);
	      // alert(data);
	      console.log(data);
	    }
	  });
	});

	$('.student-form').submit(function(e){
	  e.preventDefault();
	  var url = '{% url "student:student_profile_dash_form" %}';
	  var form = $(this);
	  console.log($(this));
	  $.ajax({
	    type: "POST",
	    url: url,
	    data: form.serialize(),
	    success: function(data){
	      if(data === 'INVALID FORM'){
	        $('.error').html(data)
	      }
	      else{
	        location.reload();
	      }
	    }
	  });
	});

	var school_edu_pk = 0;
	$('.school-edu-modal-btn').click(function(e){
	  console.log(e.currentTarget.children[1].value);
	  school_edu_pk = e.currentTarget.children[1].value;
	  var url = '{% url "student:school-education" 000 %}'.replace(000,school_edu_pk);
	  $.ajax({
	    type: "GET",
	    url: url,
	    success: function(data){
	      $('.school-edu-form').html(data);
	    }
	  });
	});

	$('.school-edu-form-data').submit(function(e){
	  e.preventDefault();
	  console.log(e);
	  var url = '{% url "student:school-education" 000 %}'.replace(000, school_edu_pk);
	  var form = $(this);
	  $.ajax({
	    type: 'POST',
	    url: url,
	    data: form.serialize(),
	    success: function(data) {
	      if(data === 'INVALID FORM'){
	        $('.error').html(data);
	      }
	      else{
	        location.reload();
	      }
	    }
	  });
	});

	$('.college-edu-pre').click(function(e){
	  var course = e.target.value;
	  var url = '{% url "student:college-education" 0 %}'.replace(0, course);
	  $.ajax({
	    type: "GET",
	    url: url,
	    success: function(data){
	      $('.college-edu-form').html(data);
	    }
	  });
	  $('.college-edu-modal').modal('show');
	});

	$('.college-edu-edit-modal-btn').click(function(e){
	  var pk = e.currentTarget.children[1].value;
	  var url = '{% url "student:college-education-edit" 0 %}'.replace(0, pk);
	  var form = $(this);
	  $.ajax({
	    type: 'GET',
	    url: url,
	    success: function(data){
	      $('.college-edu-edit-form').html(data);
	    }
	  });
	  $('.college-edu-edit-modal').modal('show');

	});

	$('.college-edu-delete-confirm').click(function(e){
	  var pk = e.currentTarget.children[1].value;
	  var url = '{% url "student:college-education-delete" 0 %}'.replace(0, pk);
	  var form = $(this);
	  $.ajax({
	    type: 'GET',
	    url: url,
	    success: function(data){
	      location.reload();
	    }
	  });
	});

	$('.college-edu-form-data').submit(function(e){
	  e.preventDefault();
	  var url = '{% url "student:college-education" %}';
	  var form = $(this);
	  $.ajax({
	    type: 'POST',
	    url: url,
	    data: form.serialize(),
	    success: function(data){
	      console.log(data);
					if(data==='Form Submitted'){
	 				 location.reload();

	 				 }
	 				 else{
	 					 $('.college-edu-form').html(data);
	 					 // console.log(data);
	 				 }
	    }
	  })
	});

	$('.college-edu-edit-form-data').submit(function(e){
	  e.preventDefault();
		console.log(e.currentTarget[1].value);
		var pk = e.currentTarget[1].value;
	  var url = '{% url "student:college-education-edit" 000 %}'.replace(000, pk);
	  var form = $(this);
	  $.ajax({
	    type: 'POST',
	    url: url,
	    data: form.serialize(),
	    success: function(data){
	      console.log(data);
				if(data==='Form Submitted'){
					location.reload();
	        }
	        else{
						$('.college-edu-edit-form').html(data);
	          // console.log(data);
	        }
	    }
	  })
	});

	$('.work-exp-form-data').submit(function(e){
	  e.preventDefault();
	  var url = '{% url "student:work-exp" %}';
	  var form = $(this);
	  $.ajax({
	    type: 'POST',
	    url: url,
	    data: form.serialize(),
	    success: function(data){
	      if(data==='Form Submitted'){
					location.reload();

	        }
	        else{
						$('.work-exp-form').html(data);
	          // console.log(data);
	        }
	    }
	  })
	});

	$('.work-exp-pre').click(function(e){
	  var category = e.target.value;
	  var url = '{% url "student:work-exp" 000 %}'.replace(000, category);
	  $.ajax({
	    type: "GET",
	    url: url,
	    success: function(data){
	      $('.work-exp-form').html(data);
	    }
	  });
	  $('.work-exp-modal').modal('show');
	});

	var work_exp_pk = 0;
	$('.work-exp-edit-modal-btn').click(function(e){
	  work_exp_pk = e.currentTarget.children[1].value;
	  var url = '{% url "student:work-exp-edit" pk=000 %}'.replace(000, work_exp_pk);
	  $.ajax({
	    type: "GET",
	    url: url,
	    success: function(data){
	      $('.work-exp-edit-form').html(data);
	    }
	  });
	});

	$('.work-exp-edit-form-data').submit(function(e){
		e.preventDefault();
		var url = '{% url "student:work-exp-edit" 0 %}'.replace(0, work_exp_pk);
		var form = $(this);
		$.ajax({
			type: 'POST',
			url: url,
			data: form.serialize(),
			success: function(data){
				console.log(data);
				if(data==='Form Submitted'){
					location.reload();

	        }
	        else{
						$('.work-exp-edit-form').html(data);
	          // console.log(data);
	        }
			}
		})
	});

	$('.work-exp-delete-confirm').click(function(e){
	  var pk = e.currentTarget.children[1].value;
	  var url = '{% url "student:work-exp-delete" 0 %}'.replace(0, pk);
	  var form = $(this);
	  $.ajax({
	    type: 'GET',
	    url: url,
	    success: function(data){
	      location.reload();
	    }
	  });
	});
	var msPK = null;
	$('.marksheet-edit-btn').click(function(e){
		msPK = e.target.value;
		var url = '{% url "student:marksheet-edit" 0 %}'.replace(0, msPK);
		$.ajax({
			type: 'GET',
			url: url,
			success: function(data){
				$('.marksheet-edit-form').html(data);
			}
		});
		$('.marksheet-edit-modal').modal('show');
	});

	$('.marksheet-edit-form-data').submit(function(e){
		e.preventDefault();
		console.log(e);

		var url = '{% url "student:marksheet-edit" 0 %}'.replace(0, msPK);
		var form = $(this);
		$.ajax({
			type: 'POST',
			url: url,
			data: form.serialize(),
			success: function(data){
				if (data=="INVALID FORM") {
					$('.error').html(data);
					console.log(data);
				}
				else{
					location.reload();
				}
			}
		})
	});

</script>

{% endblock %}
