
{% load staticfiles %}
<nav class="">
  <div class="ui navbar menu">
    <a href="{% url 'home:index' %}" class="">
      <div class="ipu-brand">
        <img class="ipu_logo" src="{% static 'img/ipu-logo.png' %}" alt="ipu-logo">
        <p class="ipu-title-brand">Training & Placements Cell<br>
        University School of Information, Communication and Technology</p>
        <!-- <p class="ipu-title-brand">Guru Gobind Singh Indraprastha University</p> -->
      </div>

    </a>
    <ul id="nav-mobile" class="right menu">
      {% if user.is_authenticated %}
        <li class="navbar-right-menu"><a href="{% url 'account:logout' %}" class="ui button inverted primary">Logout</a></li>
      {% else %}
        <li class="navbar-right-menu"><a href="{% url 'account:student_login' %}" class="ui button inverted primary">Login/Register</a></li>
      {% endif %}

    </ul>
  </div>
</nav>
