{% extends '../home/base.html' %}

{% block body %}
<div class="row">
  <div class="col s6 offset-s3">
    <br><br>
  <div class="card center lime lighten-5 z-depth-5">
    <div class="card-inner">
      <h5 class="login"> <i class="material-icons">accessibility</i>Faculty Register</h5>
      {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        </div>
        {% endfor %}

        <form class="" method="post">
          {% csrf_token %}
          {{faculty_user_form.as_p}}
          {{faculty_profile_form.as_p}}
          <input type="submit" class="btn" value="Register">

        </form>
        <p><a href="{% url 'account:faculty_login' %}">Login</a> here.</p>
        </div>
        </div>
        </div>
        </div>

{% endblock %}
