
{% extends '../home/base.html' %}

{% block body %}
<div class="ui centered grid container">
          <div class="ten wide column">
          	<br><br>
          <div class="ui raised card">
              <div class="content">
				  <p>
				    We've emailed you instructions for resetting your password.
				    Check your email and follow the instructions.
				  </p><br>
				  <p>
				    If you didn't receive an email, please make sure you've entered the email address you registered with,
				    and check your spam folder.
				  </p><br>

				  <p>
				  	For further queries, contact TNP cell.
				  </p>
				</div>
			</div>
		</div>
</div>

{% endblock %}