{% extends '../home/base.html' %}

{% block body %}



<div class="ui centered grid container">
          <div class="ten wide column">
            <br><br>
          <div class="ui raised card">
           

              <div class="content">
              	<p class="login-title" style="font-size: 2rem !important;">Forgot password</p><br>
              	<form method="post" class="ui form">
				    {% csrf_token %}
				    <div class="field">
	                  <label for="username" class="auth-label">Registered Email address</label>
	                  <div class="ui left icon input ">
	                    {{form.email}}
	                    <i class="at icon"></i>
	                  </div>
	                </div>
				    <button type="submit" class="fluid ui inverted blue button">Submit</button>
				  </form>
              </div>
          </div>
      </div>
  </div>


{% endblock %}