{% extends '../home/base.html' %}

{% block body %}
  

<div class="ui centered grid container">
          <div class="ten wide column">
            <br><br>
          <div class="ui raised card">
           
            {% if validlink %}
              <div class="content">
                <p class="login-title" style="font-size: 2rem !important;">Reset password</p><br>
                {% if form.errors %}
                  <div class="ui red message">
                    <p>Password and confirm password didn't match
                  </p></div>
                {% endif %}

                <form method="post" class="ui form">

                  {% csrf_token %}
                  <div class="field">
                    <label class="auth-label">New Password</label>
                    <div class="ui left icon input ">
                      {{form.new_password1}}
                      <i class="eye slash icon"></i>
                    </div>
                </div>
                <div class="field">
                    <label class="auth-label">Confirm New Password</label>
                    <div class="ui left icon input ">
                      {{form.new_password2}}
                      <i class="eye slash icon"></i>
                    </div>
                </div>
                  <button type="submit" class="fluid ui inverted blue button">Submit</button>
                </form>
              </div>

              {% else %}
              <div class="content">
              <p>
                The password reset link is invalid, possibly because it has already been used.<br>
                Please request a new password reset.
              </p>
            </div>
            {% endif %}

          </div>
      </div>
  </div>



{% endblock %}