{% extends '../home/base.html' %}
{% block body %}

        <div class="ui centered grid container">
          <div class="ten wide column">
            <br><br>
          <div class="ui raised card">
            <div class="content">
              <br /><p class="login-title">Register</p>
            </div>
            {% if user_form.errors %}
             {% for field in user_form %}
                {% for error in field.errors %}
                    <h3 class="ui warning message center">{{ error|escape }}</h3>
                {% endfor %}
             {% endfor %}
            {% endif %}

            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  {{ message }}
                </div>
              {% endfor %}

              <div class="content">

              <form class="ui form" method="POST">
                {% csrf_token %}
                <div class="field">
                  <label for="enrollment_no" class="auth-label">Enrollment number</label>
                  <div class="ui left icon input ">
                    <input class="" type="text" name="enrollment_no" id="enrollment_no" placeholder="Enter your enrollment number" required><br>
                    <i class="users icon"></i>
                  </div>
                </div>

                <div class="field">
                  <label for="email" class="auth-label">Email address</label>
                  <div class="ui left icon input ">
                    <input class="" type="text" name="email" id="email" placeholder="Enter your email address" required><br>
                    <i class="at icon"></i>
                  </div>
                </div>

                <div class="field">
                  {{student_profile_form}}
                </div>

                <div class="field">
                  <label for="password" class="auth-label">Password</label>
                  <div class="ui left icon input ">
                    <input class="" type="password" name="password" placeholder="Enter your password" required><br>
                    <i class="eye slash icon"></i>
                  </div>
                </div>

                <div class="field">
                  <label for="confirm_password" class="auth-label">Confirm Password</label>
                  <div class="ui left icon input ">
                    <input class="" type="password" name="confirm_password" placeholder="Confirm password" required><br>
                    <i class="eye slash icon"></i>
                  </div>
                </div>
                <br />
                <input type="submit" class="fluid ui inverted blue button" value="Register">

              </form>
              <br /><br />
              <p class="center">Already have an account.<a href="{% url 'account:student_login' %}">Login</a>.</p>
<br /><br />
            </div>
    </div>
    </div>
  </div>

{% endblock %}
