{% extends '../home/base.html' %}
{% block body %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>


<div class="container">
<table id="student-table">
    <thead>
        <tr>
            <th>enrollment no</th>
            <th>name</th>
            <th>college</th>
            <th>course</th>
            <th>dob</th>
            <th>admission year</th>
            <th>father's name</th>
            <th>region</th>
            <th>category</th>
            <th>mobile</th>
        </tr>
    </thead>
    <tbody>
    	{% for student in Students %}
			<tr>
            	<td>{{ student.enrollment_no }}</td>
            	<td>{{ student.name }}</td>
              <td>{{ student.get_college_display }}</td>
              <td>{{ student.get_course_display }}</td>
              <td>{{ student.dob }}</td>
              <td>{{ student.get_admission_year_display }}</td>
              <td>{{ student.fathers_name }}</td>
              <td>{{ student.get_region_display }}</td>
              <td>{{ student.get_category_display }}</td>
              <td>{{ student.mobile }}</td>
      </tr>
		{% endfor %}
    </tbody>
</table>
</div>

<script type="text/javascript">
	$(document).ready( function () {
    $('#student-table').DataTable();
} );
</script>
{% endblock %}
